body{
   background-image: url(https://wallpapercave.com/wp/wp3429905.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.header {
    overflow: hidden;
    background-color:darkcyan;
    padding: 6px 3px;
    border-radius: 20px;
}
  
.header a {
    float: left;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
  
.header a.logo {
    font-size: 30px;
    font-weight: bold;
    margin-left: 600px;
}
  
.header a:hover {
    background-color: #ddd;
    color: black;
}
  
.header a.active {
    background-color: dodgerblue;
    color: white;
}
  
.header-right {
    float: right;
    margin-right: 100px;
}
  
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
}
  
h1{
     text-align: center ;
     font-size: 300%;
     margin-left: 15cm;
}
.content{
    font-size: 1cm;
}
.btn{
    margin-right: 2cm;
    margin-top: 1cm;
}
